* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    
    background-color:rgb(20, 10, 168);
    
}

#banner {
    width: 100%;
    height: 854px;
    background-image: url(/imagen/2198747.jpg);
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-size:cover;
    background-position: top ;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    
    margin: 0 20px;
    border-radius: 50px;

    z-index: 500;
}



nav {
    margin: auto;
    display: table;
    /* background-color: blue; */
    margin-top: 15px;
    height: 40px;
    -webkit-transition: margin-left .5s;
    
}



ul a {
    color: white;
    text-decoration: none;

    font-weight: bold;
    
}

.li li{
    font-size: 20px;
    padding: 10px;

    border-radius:30px ;
    
}

.li li:hover{
    color: white;
    display: block;
    transition: 0.5s;
    border: blanchedalmond solid 0.1px;
    border-radius: 30px ;
    background-color: rgba(242, 241, 243, 0);
    
}

ul li {
    float: left;
    margin: 10px;
    padding: 2px;
    
}

ul {
    display: block;
    float: left;
    list-style: none;
}

.reparaciondepc{
    position: absolute;
    top: 80px;
    left: 70px;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
    }

    40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
    }

    70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
    }

    90% {
    transform: translate3d(0,-4px,0);
    }
}

.tecnico{
    font-size: 50px;
    position: absolute;
    color: white;
    top: 200px;
    left: 1000px;
}



.lista{

    width: 35%;
    position:absolute;

    top:330px;
    left: 1000px;

}

.lista li{
    font-size: 20px;
    font-weight: 900;
    color: white;

    margin-top: 20px;
}

/* contacto */

.contacto{
    position: absolute;
    width: 600px;
    top: 800px;
    left: 1000px;
}

.contacto img{
    width: 40px;
    margin: 0 50px;
}

.contacto h2{
    color: black;
    display: inline;
    font-size: 20px;
    position:absolute;
    left: 300px;
    top: 60px;

}



/* mdiacree 1024px */
@media  screen and  (max-width:1024px){ 
    
    body{
        width: 1024px;
        height: 1499px;
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: auto;
        
    }

    #banner {
        width: 1024px;
        height: 600px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 120px;
        left: 640px;

        display: flex;
        flex-direction: column;
        

        width: 50px;
        height: 100px;
        font-size: 1px;
    
        z-index: 500;
    }

    .li li{
        font-size: 40px;
        
        }

        
    .lista{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;

        top:790px;
        left:160px;

    }

    .lista li{
        font-size:24px;
    }

    .contacto{
        position: absolute;
        width: 570px;
        top: 1400px;
        left: 200px;
        margin: 0;
    }

    .contacto img{
        width: 85px;
        margin: 0 40px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 20px;
        position:absolute;
        left: 20px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 90px;
        top: 620px;
        font-size: 80px;

    }
    
    
}

/* viupor 540 */

@media  screen and  (max-width:540px){ 
    
    body{
        width: 540px;
        height:122vh;
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: auto;
        
    }

    #banner {
        width: 540px;
        height: 400px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 60px;
        left: 340px;

        display: flex;
        flex-direction: column;
        

        width: 10px;
        height: 100px;    
        z-index: 500;
    }

    .li li{
        font-size: 20px;
        
        }

        
    .lista{

        width: 450px;

        top:430px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 370px;
        top: 800px;
        left: 130px;
        margin: 0;
    }

    .contacto img{
        width: 45px;
        margin: 0 20px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 20px;
        position:absolute;
        left: 40px;
        top: 10px;
    
    }

    .tecnico{
        position: absolute;
        left: 30px;
        top: 320px;
        font-size: 40px;

    }
    
    
}

/* responsive 411 */

@media  screen and  (max-width:411px){ 
    
    body{
        
        
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: auto;
        
    }

    #banner {
        width: 70vh;
        height: 200px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 30px;
        left: 240px;

        display: flex;
        flex-direction: column;
        

        width: 50px;
        height: 100px;
        font-size: 1px;
    
        z-index: 500;
    }

    .li li{
        font-size: 18px;
        
        }

        
    .lista{

        width: 100%;

        top:490px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 370px;
        top: 1000px;
        left: 0px;
        margin: 0;
    }

    .contacto img{
        width: 35px;
        margin: 0 40px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 20px;
        position:absolute;
        left: 20px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 30px;
        top: 320px;
        font-size: 40px;

    }
    
    
}

/* 414 */
@media  screen and  (max-width:414px){ 
    
    body{
        width: 414px;
        height:166vh;
        
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: auto;
        
    }

    #banner {
        width: 414px;
        height: 500px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 60px;
        left: 240px;

        display: flex;
        flex-direction: column;
        

        width: 50px;
        height: 100px;
        font-size: 1px;
    
        z-index: 500;
    }

    .li li{
        font-size: 18px;
        
        }

        
    .lista{

        width: 250px;

        top:590px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 414px;
        top: 1160px;
        left: 0px;
        margin: 0;
    }

    .contacto img{
        width: 35px;
        margin: 0 50px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 15px;
        position:absolute;
        left: 10px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 25px;
        top: 520px;
        font-size: 30px;

    }


}

/* 375 */
@media  screen and  (max-width:375px){ 
    
    body{
        
        width: 375px;
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: cover;
        height: 170vh;

    }

    #banner {
        width: 375px;
        height: 300px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 20px;
        left: 179px;

        display: flex;
        flex-direction: column;
        height: 100px;
        font-size: 1px;
    
        z-index: 500;
    }

    .li li{
        font-size: 18px;
        
        }

        
    .lista{

        width: 250px;

        top:490px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 360px;
        top: 1000px;
        left: 0px;
        margin: 0;
    }

    .contacto img{
        width: 35px;
        margin: 0 40px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 15px;
        position:absolute;
        left: 20px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 25px;
        top: 320px;
        font-size: 40px;

    }
    
    
    
}
/* responsive */

@media  screen and  (max-width:360px){ 
    
    body{
        
        width: 360px;
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: cover;
        height: 170vh;

    }

    #banner {
        width: 360px;
        height: 300px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        position: absolute;
        top: 20px;
        left: 179px;

        display: flex;
        flex-direction: column;
        height: 100px;
        font-size: 1px;
    
        z-index: 500;
    }

    .li li{
        font-size: 18px;
        
        }

        
    .lista{

        width: 250px;

        top:490px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 360px;
        top: 1000px;
        left: 0px;
        margin: 0;
    }

    .contacto img{
        width: 35px;
        margin: 0 40px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 15px;
        position:absolute;
        left: 20px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 25px;
        top: 320px;
        font-size: 40px;

    }
    
    
    
}

/* responsive 280 */

@media  screen and  (max-width:280px){ 
    
    body{
        
        width: 280px;
        background: linear-gradient(violet,blue);
        background-repeat: no-repeat;
        background-size: cover;
        height: 170vh;

    }

    #banner {
        width: 280px;
        height: 300px;
        background-image: url(/imagen/2198747.jpg);
        background-attachment: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        background-size:cover;
        background-position: top ;
        
    }

    

    header {
        width: ;
        position: absolute;
        top: 20px;
        left: 126px;

        display: flex;
        flex-direction:row;
        height: 0px;
        
    
        z-index: 500;
    }

    .li li{
        font-size: 14px;
        
        }

        
    .lista{

        width: 250px;

        top:490px;
        left:20px;

    }

    .lista li{
        font-size:14px;
    }

    .contacto{
        position: absolute;
        width: 250px;
        top: 1000px;
        left: 0px;
        margin: 0;
    }

    .contacto img{
        width: 35px;
        margin: 0 20px;
        
    }
    
    .contacto h2{
        color: black;
        display: inline;
        font-size: 15px;
        position:absolute;
        left: 20px;
        top: 0px;
    
    }

    .tecnico{
        position: absolute;
        left: 25px;
        top: 320px;
        font-size: 40px;

    }
    
    
}




